body{
    margin: 0px;
    background-color: #f2f2f2;
    font-family: 'Oswald', sans-serif;
    }
    header{ 
        padding: 50px 70px;
        background-color: #000;
        width: 100vw;
        position: fixed;
        z-index: 1;
    }
    .logo{
        font-size: 20px;
        font-weight: bold;
    }
    header a {
        color:  #f2f2f2    ;
        text-decoration: none;
        font-size: 16px;
    }
    .navigations{
        display: inline-block;
        width: calc(100vw - 280px);
        text-align: right;
    }
    .navigation{
        padding: 20px 0px 20px 40px;
        font-size: 16px;
    }
    .navigation:hover{
        font-size: 18px;
        padding: 20px 0px 20px 40px;
        transition: .6s;
    }
    .navigation:not(:hover){
        transition: .6s;
    }
    .cv{
        
        position: absolute;
        left: 20%;
        top: 30%;
        transform: translate(50% - 50%);
    }
    #cv{
        box-shadow: rgba(3, 102, 214, 0.3) 1px 1px 10px 10px;

        margin-bottom: 200px;
        width: 80%;
    }
    footer{
        position: fixed;
        bottom: 0px;
        margin-top: 100px;
    }
    footer{
        padding: 20px;
        background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,1));
        padding: 30px;
    }
    footer a {
        color: #f2f2f2;
        text-decoration: none;
    }
    .links{
        display: inline-block;
            width: calc(100vw - 220px);
            text-align: right;
    }
    .link{
        padding: 20px 0px 20px 40px;
    }
    #cvhead{
        font-size: 50px;
    }